

.container-fluid{
    height: 70px;
    background-color: #12486B;
    font-size: x-large,bold;
    color: greenyellow;
    gap: 20px;
    font-family: sans-serif;
    
   
}
span{
    font-family:cursive;
}
.container-fluid:hover {
    color: #F5FCCD;
}

.spacer{
flex: 1 1 auto;
background-color: #12486B;

}
