<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Design-Hub Engineering Company</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          <a class="nav-link" [routerLink] ="['aboutUs']" routerLinkActive="active">About Us</a>
          <a class="nav-link" [routerLink]="['/what-we-do']" routerLinkActive="active">What We Do</a>
          <a class="nav-link" [routerLink]="['/contactUs']" routerLinkActive="active">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>-->
  <div class ="container-fluid ">
    <mat-toolbar>
      <span>Design-Hub</span>
      <div class = "spacer"></div>
      <a mat-button class="nav-link" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
            <a mat-button class="nav-link" [routerLink] ="['aboutUs']" routerLinkActive="active">ABOUT US</a>
            <a mat-button class="nav-link" [routerLink]="['/what-we-do']" routerLinkActive="active">WHAT WE DO</a>
            <a mat-button  class="nav-link" [routerLink]="['/contactUs']" routerLinkActive="active">CONTACT US</a>
    </mat-toolbar>
  </div>
 
