label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin:  0;
    margin-left: 3px;
  }
  
  .quotes-text {
    width: 100%;
    height: 100%;
    background-color:#419197;
    background-size: cover;
    background-position: center;
    margin: auto;
    color:yellowgreen ;
    margin-top: 0;
}
.submit-button{
  background-color: yellowgreen;
  border-radius: 8px;
}

#messag{
  border-radius: 20px;
}
