<div class ="quotes-text">
  <label for="avatar">
    Upload Image
  </label>

    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />

    <form action="/action_page.php">
      <label>Name:</label>
      <input type="text" placeholder="Enter name.....">
      <br>
      <label>Email:</label>
      <input type="text" placeholder="Enter Email address.....">
      <br>
      <br>
      <div class ="message-area">
        <p><label  for="message">Write your message here</label></p>
        <textarea id="message" name="w3review" rows="6" cols="100"></textarea>
      </div>
        <br>
        <br>
        <input class ="submit-button" type="submit" value="Submit">
    </form>

 </div>
  
